$dark: rgb(11,13,23);
$blue: rgb(208,214,249);
$white: rgb(255,255,255);
$text-color: #D0D6F9;


ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Bellefair';
}

p {
  font-family: 'Barlow';
}