.wrapper__destination {
  min-height: 100vh;
  background-image: url('/jpgs/background-destination-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__destination {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 760px) {
  .wrapper__destination {
    min-height: 100vh;
    background-image: url('/jpgs/background-destination-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper__destination {
    min-height: 100vh;
    background-image: url('/jpgs/background-destination-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}